.Header{
    text-align: left;
    border-bottom:  .5px solid greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    padding: 1%;   
    justify-content: space-between;
    text-decoration: none;
    display: flex;
    margin-bottom: 30px;
    .header_name{
        display: flex;
        text-decoration: none;
        color: chartreuse;    
    }
    .option{
        display: flex;
        align-items: center; 
        justify-content: space-evenly;
        .indi{
            margin: 10px;
            text-decoration: none;   
            color: dimgrey; 

        }
    }
    
}